{% extends 'dashboard.html' %}

{% load static %}

{% block content %}

<head>
    {% load static %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>

<script>
tinymce.init({selector:'#id_body',
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
});</script>
    </head>

<form action="" method="post" enctype="multipart/form-data">

    {{ page_title }}
    {% csrf_token %}
    {{form.tags}}
    {{form.as_p}}
    <input type="submit" value="Add">

    {{ form.errors }}


</form>

{% endblock content %}

