{% extends 'dashboard.html' %}

{% load static %}
{% load replace %}

{% block content %}
    <div class="row">
        <div class="col-6 px-5">

          {% include 'admin/category/add.html' %}

            <div class="main-section-header d-flex">
                <h5 class="title">All Categories</h5>
                <a href="" class="btn btn-add" id="add-btn">
                    Add Category
                </a>
            </div> 


            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    
                    <th scope="col">Category</th>
                    <th scope="col">No.of Posts</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for category in categories %}
                    
                        <tr>
                        <td class="ms-3">
                            <a href="
                              {% if '/admin/' in current_url %}
                                  {% url 'admin_category_update' category.slug %}
                              {% else %}
                                  {% url 'author_category_update' category.slug %}
                              {% endif %}
                            ">
                                {{category.title}}
                            </a>
                        </td>
                        <td>{{ category.no_of_posts }}</td>
                        <td>
                            <a href="
                              {% if '/admin/' in current_url %}
                                  {% url 'admin_category_delete' category.slug %}
                              {% else %}
                                  {% url 'author_category_delete' category.slug %}
                              {% endif %}
                            " class="btn btn-outline-danger">
                                Delete
                            </a>
                        </td>
                        </tr>

                    {% endfor %}
                        
                </tbody>
              </table>

        </div>

        <!-- cards -->
        <div class="col-6 cards px-5">
            <div class="main-section-header d-flex">
                <h5 class="title">Stats</h5>
                <a href="" class="btn btn-add">
                    Full Stats
                </a>
            </div> 
            <div class="row">
                <div class="col-6"> 
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="icon-pencil primary font-large-2 float-left"></i>
                          </div>
                          <div class="media-body text-right">
                            <span>Most Posts</span>
                            
                            {% for cat in most_posted_cat %}
                              <h3>{{ cat.title }}</h3>
                              <span> {{ cat.no_of_posts }} </span>
                            {% endfor %}
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="icon-speech warning font-large-2 float-left"></i>
                          </div>
                          <div class="media-body text-right">
                            <span>Most Visited</span>
                            
                            {% for cat in most_visited_cat %}
                              
                              <h3> {% replace_category cat.url %} </h3>
                              <span>{{ cat.count }}</span>

                            {% endfor %}
                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="icon-graph success font-large-2 float-left"></i>
                          </div>
                          <div class="media-body text-right">
                            <span>Hottest</span>
                            <h3>64.89 %</h3>
                            <span>cat</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-pointer danger font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <span>Least visited</span>
                          <h3>423</h3>
                          <span>Total Visits</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </div>
    </div>



    <script>
      let btn = document.querySelector('#add-btn')
      let closeAdd = document.querySelector('#close-add')
      let addForm = document.querySelector('#add-item')
      
      btn.addEventListener('click', (e) => {
        e.preventDefault();
        addForm.style.display = 'block';
      })

      closeAdd.addEventListener('click', (e) => {
        e.preventDefault()
        addForm.style.display = 'none'
      })
    </script>
{% endblock content %}
