{% extends 'dashboard.html' %}


{% block content %}
<div class="main-section-header d-flex">
    <h5 class="title">All Pages</h5>
    <a href="{% url 'admin_page_create' %}" class="btn btn-add">
        Add Page
    </a>
</div> 

<div class="content-holder d-flex">

    <div class="content">
        
        {% for page in pages %}
        
        <div class="single-item d-flex  p-2 pe-5 mb-2">
            <img src="{% if page.featured_image %} {{ page.featured_image.url }} {% endif %}" alt="" class="post-img">
            <div class="post-info">
                <div class="post-title  mb-3">
                    <a href="{% url 'admin_page_update' page.slug %}">
                        <h3 class="title">{{ page.title }}</h3>
                    </a>
                </div>
                <div class="meta">
                    by <span class="author_name">{{ page.author.name }}</span> <span class="date"> {{ page.created_at }} </span>
                </div>
            </div>
            <div class="views">
                35,000
            </div>
            <select name="visibilty" id="visibilty">
                <option value="publish">Published</option>
                <option value="draft">Draft</option>
            </select>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#{{page.slug}}">
                Delete
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="{{page.slug}}" tabindex="-1" aria-labelledby="{{page.slug}}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="{% url 'admin_page_delete' page.slug %}" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{page.slug}}Label">Confirm deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ page.title }} ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>

        {% endfor %}
            

        {% if is_paginated %}
            <div class="pagination pt-4 d-flex justify-content-center">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/admin/page?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current px-4">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/admin/page?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    </div>
</div>
{% endblock content %}
    